@keyframes appear {
    from {
      opacity: 0;
      transform:  translateX(-100px);
    }
    to {
      opacity: 1;
      transform:  translateX(0);
    }
  }
  
  .appear {
    animation: appear ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
  }
  .appear-footer {
    animation: appear 0.6s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0;
  }
  